<table class="tblCurl">
  <tr>
    <td class="lblCurl">curl {{website}}</td>
    <td class="txtCurl">{{data.remoteIp}}</td>
    <td class="pageLink"><a href="/">Back to Main</a></td>
  </tr>
  <tr>
    <td class="lblCurl">curl {{website}}/ip</td>
    <td class="txtCurl" colspan="2">{{data.remoteIp}}</td>
  </tr>
  <tr>
    <td class="lblCurl">curl {{website}}/host</td>
    <td class="txtCurl" colspan="2">{{data.host}}</td>
  </tr>
</table>
