<table class="tblMain">
  <tr>
    <td class="lblMain">IP Address</td>
    <td>{{data.remoteIp}}</td>
    <td class="pageLink"><a href="/curl">Get cURL infos</a></td>
  </tr>
  <tr>
    <td class="lblMain">Remote Host</td>
    <td class="txtMain" colspan="2">{{data.host}}</td>
  </tr>
  <tr>
    <td class="lblMain">User Agent</td>
    <td colspan="2">{{data.uaStr}}</td>
  </tr>
  <tr>
    <td class="lblMain">Port</td>
    <td colspan="2">{{data.remotePort}}</td>
  </tr>
  <tr>
    <td class="lblMain">Language</td>
    <td colspan="2">{{data.language}}</td>
  </tr>
  <tr>
    <td class="lblMain">Connection</td>
    <td colspan="2">{{data.connection}}</td>
  </tr>
  <tr>
    <td class="lblMain">Encoding</td>
    <td colspan="2">{{data.encoding}}</td>
  </tr>
  <tr>
    <td class="lblMain">MIME Type</td>
    <td colspan="2">{{data.accept}}</td>
  </tr>
</table>
