<div class="link">
 <a href="/curl">cURL infos available !!</a>
</div>
<table class="tblMain">
  <tr>
    <td class="lblMain">IP Address</td>
    <td class="ipAddress">{{data.remoteIp}}</td>
  </tr>
  <tr>
    <td class="lblMain">User Agent</td>
    <td class="txtMain">{{data.uaStr}}</td>
  </tr>
  <tr>
    <td class="lblMain">Port</td>
    <td class="txtMain">{{data.remotePort}}</td>
  </tr>
  <tr>
    <td class="lblMain">Language</td>
    <td class="txtMain">{{data.language}}</td>
  </tr>
  <tr>
    <td class="lblMain">Connection</td>
    <td class="txtMain">{{data.connection}}</td>
  </tr>
  <tr>
    <td class="lblMain">Encoding</td>
    <td class="txtMain">{{data.encoding}}</td>
  </tr>
  <tr>
    <td class="lblMain">MIME Type</td>
    <td class="txtMain">{{data.accept}}</td>
  </tr>
</table>
